.divContainer{
    text-align: center;
}
.counter{
    font-size: 10em;
    text-align: center;
    display: block;
    font-family: sans-serif;
}
.button{
    background-color: blue;
    color: white;
    cursor:pointer;
    border-radius:2px;
    transition: background-color 0.5s;
}
.button:hover{
    background-color: red;
}
.button:active{
    background-color :lightblue;
    color:black;


}
